<ul>
  <li><%= @mit_diploma.first_name %> <%= @mit_diploma.father_name %> <%= @mit_diploma.grand_father_name %></li>
  <li><%= @mit_diploma.shim %> <%= @mit_diploma.shim_abo %> <%= @mit_diploma.shim_abo_hago %></li>
  <li><%= @mit_diploma.department %> </li>
  <li><%= @mit_diploma.year_of_graduation %></li>
  <li><%= @mit_diploma.email %> </li>
</ul>
